/* NAV */
.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bg-img {
 
    background-image: url('images/bgnav.jpg');
    min-height: 100px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Navbar links */
.topnav a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topnav a:hover {
    color: #C60074;
}

body {
    background-color: #DEDEDE;
}

h1{
    color: #C60074;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
   
}

h2{
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 60px;
}

h3{
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 60px; 
}

.designer {
    width: 700px;
    padding-left: 150px;
    
}
/* Botton */
.btn btn-primary btn-lg {
    
}
.fpage {
    background-color: black;
    color: white;
}

.myphoto{
    position: relative;
    max-height: 300px;
   
}

.paragraph{
    align-items: center;
    padding-left: 100px;
    max-width: 700px;
}
 
.title1{
    width: 600px;
}
.section1 {
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 100px;
}

.section2 {
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 400px;
}
.path {
    margin: 200px;
}

.btn-contact {
    margin-top: 40px;
}
.sectionabout {
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 50px;
}

/* PORTFOLIO PAGE*/

.sitesimg{
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 100px;
}



@media only screen and (max-width: 768px) {
    /* Navbar adjustments */
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better readability */
        position: fixed; /* Fix the navbar to the top */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000; /* Ensure navbar is above other content */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px; /* Adjust as needed */
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-link {
        margin: 10px 0;
    }

    .section1 {
        padding-top: 150px; /* Adjust as needed */
    }

    .section2 {
        padding-bottom: 200px; /* Adjust as needed */
    }